PowerPlatform/Power Automate/Get Group Owners/Get Group Owners.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"groupId":{"type":"string"}}}}}},"actions":{"Initialize_variable_-_application_id":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"application_id","type":"String"}]}},"Initialize_variable_-_directory_id":{"runAfter":{"Initialize_variable_-_application_id":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"directory_id","type":"String"}]}},"Initialize_variable_-_secret":{"runAfter":{"Initialize_variable_-_directory_id":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"secret","type":"String"}]}},"HTTP":{"runAfter":{"Initialize_variable_-_secret":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://graph.microsoft.com/v1.0/groups/@{triggerBody()?['groupId']}/owners","authentication":{"type":"ActiveDirectoryOAuth","authority":"https://login.microsoft.com","tenant":"@variables('directory_id')","audience":"https://graph.microsoft.com","clientId":"@variables('application_id')","secret":"@variables('secret')"}}}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":366},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}